/* variables */
:root {
  --black-primary: #191919;
  --yellow-primary: #fec52e;
  --white-primary: #ffffff;
  --gray-primary: #434343;
  --gray-secondary: #646464;
}

html,
body,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black-primary);
  color: var(--white-primary);
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}
